<div class="timelineindexheader span12">
  <div class="timelinethumb span2">
    <%= image_tag @timeline_object.image.url(:thumb) %>
  </div>
  <div class="displaytimelinetitle span9">
    <p class="title">
      <%= @timeline_object.title %>
    </p>
    <p>
      <%= @timeline_object.description %>
    </p>
  </div>
</div>

<% currentdate="none"%>
<div class="eventcontainer span12 row-fluid">
<!-- Go through each event (they are already ordered) and display -->
<% @timeline_object.get_events.each do |event| %>

  <%= render "events/event_partial", event: event %>

  <tr class="<%= cycle('left', 'right') -%>">
    <div class="eventcontainer span6 <%= current_cycle %> row-fluid">

      <!-- If the date is different than the last iteration, create a label -->
      <% if(!currentdate.eql? event.date) %>
        <div class="date-label-<%= current_cycle %> span2">
          <%= event.date %>
        </div>
      <% else %>
        <div class="date-filler-<%= current_cycle %> span2"></div>
      <% end %>

      <!-- Save the current date to check if it's changed on the next iteration -->
      <% currentdate=event.date.clone %>

      <!-- If the event's on the right, add the time label on the left -->
     <% if(current_cycle == 'right')%>
        <div class="time-label-<%= current_cycle %> span1">
          <%= event.time %>
        </div>
      <% end %>

      <!-- Set up the popover with hidden modal. -->
      <div class="event <%= current_cycle %> span8">
        <%= link_to(image_tag(event.image.url(:medium)), "##{event.id}", {:data => {:toggle => "modal"}}) %>
      </div>

      <!-- If the event's on the left, add the time label on the right -->
      <% if(current_cycle == 'left')%>
        <div class="time-label-<%= current_cycle %> span1">
          <%= event.time %>
        </div>
      <% end %>
    </div>
  </tr>

<% end %>
</div>
<div class="eventnew span12 row-fluid">
    <div class="span4 offset8">
    <%= link_to "Add Event", new_event_path(:data => @timeline_object.id), class: "btn btn-success btn-large btn-block" %>
    </div>
</div> 



<div class="span12 row-fluid">
  <div class="span2 offset11">
    <%= link_to 'Edit', edit_timeline_object_path(@timeline_object) %> |
    <%= link_to 'Back', timeline_objects_path %>
  </div>
</div>
