<div class="maincontainer">
  <div class="image-wrap">
    <div class="entry offset2">

      <h2 class="with-yellow">Sign up</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs form-horizontal">

        <%= f.input :email, :required => true, :autofocus => true %>
        <%= f.input :password, :required => true %>
        <%= f.input :password_confirmation, :required => true %>
        <%= f.input :user_name, :required => true %>
      </div>
      <p> By clicking "Sign Up", you're agreeing to the <%= link_to "Terms & Conditions",  page_path("terms.html.erb") %>
    </br></p>
      <div class="actions">
        <%= f.button :submit, "Sign Up", :class => "btn btn-custom" %>

      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>