
	<div id="homecontainer">
			<div class="message">
			<% if flash[:notice] %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">x</button>
					<%= flash[:notice] %>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert">x</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
		</div>
		<div class="span12">
			<div class="homelinks span7 offset8">
				<div class="page-header span7">
					<div class="span7">
						<% if user_signed_in? %>
							<h1>Welcome, <%= current_user.user_name %></h1>
						<% else %>
							<h1>Welcome to Timeline.</h1>
						<% end %>
					</div>
				</div>
				<div class="span7">
					<% if user_signed_in? %>
					<div class="buttoncontainer span6">
						<%= link_to "New Timeline", newtimeline_path, class: "btn btn-custom btn-large btn-block" %>
						<%= link_to "Your Timelines", timelines_path, class: "btn btn-custom btn-large btn-block" %>
					<% else %>
					<div class="buttoncontainer span6">
						<%= link_to "Sign Up!", register_path, class: "btn btn-custom btn-large btn-block" %>
						<%= link_to "Log In", login_path, class: "btn btn-custom btn-large btn-block" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
