<div class="container-fluid modal hide fade" id="<%=event.id%>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2 class="modalheader"><%= event.title %> </h2>
  </div>

     <div class="span12 modaldetails">
        <div class="span4">
          <p>
            <%= image_tag event.image.url(:medium) %>
          </p>
        </div>
        <div class="span7">
          <p>
            <h3 class="with-blue">Date:</h3>
            <%= event.date %>
          </p>
          <p>
            <h3 class="with-blue">Time:</h3>
            <%= event.time %>
          </p>
          <p>
            <h3 class="with-blue">Description:</h3>
            <div class="description-field">
            <%= event.description %>
          </div>
          </p>
        </div>
      </div>
      <div class="span2 offset10">
          <%= link_to 'Edit', edit_event_path(event) %> |
          <%= link_to "Delete", event, method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %> | 
          <%= link_to 'Back', timeline_object_path(event.timeline_object_id) %>
      </div>

</div>