
<% @events.each do |event| %>
  <%= render "events/event_partial", event: event %>

  <tr class="<%= cycle('left', 'right') -%>">
    <div class="container span3"></div>
    <div class="container span3">
    <div class="event <%= current_cycle %>"
      data-placement= '<%= current_cycle %>'
      data-content=' <%= link_to(image_tag(event.image.url(:medium)), "##{event.id}", {:data => {:toggle => "modal"}}) %>', 
      trigger="manual">
    </div>
    </div>

  </tr>

<% end %>

