
<!DOCTYPE html>
<html>
<head>
	<title>Timeline</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a href='<%= home_index_path %>' class="brand"> Timeline</a>
				<ul class="nav">
<!-- 					Add menu bar stuff here
 -->				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><a href='<%= newtimeline_path %>'><i class="icon-plus-sign icon-white"></i> New Timeline</a></li>

						<li><a href='<%= timelines_path %>'><i class="icon-th-list icon-white"></i> Your Timelines</a></li>

						<li><a href='<%= edit_user_registration_path %>'><i class="icon-user icon-white"></i> Account</a></li>

						<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete  %></li>

					<% else %>
						<li><%= link_to "Sign Up", register_path %></li>
						<li><%= link_to "Log In", login_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>


	<div class="container">
		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button class="close" data-dismiss="alert">x</button>
				<%= flash[:notice] %>
			</div>
		<% end %>
		<% if flash[:alert] %>
			<div class="alert alert-error">
				<button class="close" data-dismiss="alert">x</button>
				<%= flash[:alert] %>
			</div>
		<% end %>
		<%= yield %>
	</div>


</body>
</html>
